:root {
  --black: #030303;
  --blue-200: #118de9;
  --blue-400: #114e81;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button, p {
  font-family: 'DM sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: white;
}

@media(max-width: 768px){
  html {
    font-size: 87.5%;
  }
}

main {
  padding: 2rem;
}

.header {
  background: var(--blue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 1.50rem;
}

.nav {
  display: flex;
  gap: 3rem;
}

.nav a{
  text-decoration: none;
  color: white;
}

.nav a:hover{
  color: var(--blue-400);
}

.content {
  display: flex;
  margin: 4rem 0;
}

.content-text {
  margin: 2rem 0;
}

.content__about-me {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.content__about-me-text {
  text-align: justify;
  padding: 2rem;
}

.content__img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.avatar {
  border-radius: 50%;
  height: 300px;
  width: 310px;
  border: 4px solid var(--blue-400);
  object-fit: cover;
}

.avatar:hover {
  border: 4px solid var(--blue-200); 
}

.container-my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-p {
  padding: 2rem;
  text-align: center;
}

.content__my-project {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
}

.content__my-project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  flex: 1;
  width: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.img-account {
  max-height: 270px;
}

.content__my-project-card-title {
  margin: 1rem 0;
  text-align: center;
}

.container-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  gap: 1rem;
}

.link-git {
  border: 2px solid var(--blue-200);
  background: var(--blue-200);
  text-decoration: none;
  color: white;
  padding: 0.75rem 1.54rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.link-git:hover {
  background: var(--black);
  border: 2px solid var(--blue-400);
}

.link-demo {
  border: 2px solid var(--blue-400);
  text-decoration: none;
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.link-demo:hover {
  background: var(--blue-200);
}

/*Form*/

.conteudo-form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}

.titulo-h1{
  color:white;
  /* margin-bottom: 40px; */
}

.form-label {
  display:block;
  font-size: 20px;
  margin: 0 0 10px;
  color: white;
}

.input-form{
  display:block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 100%;
  border-radius: 15px;
  font-size: 20px;
  border:none;
  resize: none;
  background: #27272a;
  color: white;
}

.input-form:focus {
  outline: 2px solid var(--blue-200);
}

.enviar{
  width:20%;
  padding: 15px 0;
  background: var(--blue-400);
  border-radius: 15px;
  border:none;
  cursor:pointer;,
  font-weight: bold;
  font-size:18px;
  color: white;
  transition: 1s ;
}

.enviar:hover{
  background: var(--blue-200);
}

.conteudo-form-button{
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer {
  background: var(--blue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.50rem;
}